<!-- This template is an extend of the general template -->
{% extends 'base_layout.html' %}

{% block content %}
    <h1>Log In</h1>
    <form class="site-form" action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <!-- check if next url exists and use it for url direction-->
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}">
        {% endif %}
        <input type="submit" value="Login">
    </form>
    <p>No account yet? <a href="{% url 'accounts:signup' %}">Sign Up</a></p>
{% endblock %}
